/* DailyPlan.css */
.daily-plan {
  text-align: center;
  margin-top: 20px;
}

.daily-plan h1 {
  color: #3e2723;
  margin-bottom: 15px;
}

.daily-plan p {
  color: #3e2723;
  margin-bottom: 20px;
}

.daily-plan button {
  padding: 10px 20px;
  background-color: #a1887f; /* Pastel brown */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}




.container {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 40px;
    border: solid;
    margin-bottom: 30px; /* Spacing between sections */
    border-radius: 8px; /* Slightly rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  }